/* Global styles */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: rgb(43, 43, 43);
}

table {
  text-align: center;
}

th,
td {
  width: 150px;
  overflow: hidden;
  vertical-align: middle;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  border: 0.1rem solid rgb(120, 120, 120);
  font-size: 1rem;

  color: #505050;
  text-align: center;
}

.coin-input::placeholder {
  color: #292929;
}

.btn {
  margin-top: 20px;
}

.update-button {
  display: block;
  margin-top: 20px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  width: 300px;
  border-radius: 4px;
  /* border: .1rem solid rgb(120, 120, 120); */
  border: none;
  /* background:rgb(216, 216, 216); */
  background-image: linear-gradient(
    -225deg,
    #60abed 0%,
    #568bda 48%,
    #4d64e6 100%
  );
}

.update-button:hover {
  pointer-events: pointer;
  box-shadow: 1px 2px 3px 2px rgba(91, 91, 91, 0.44);
}

/* Coins style */

/* .coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;

  min-width: 300px;
}

.coin h2 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-header {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
} */

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.footer-note {
  margin: 60px;
}

@media only screen and (max-width: 600px) {
}
